.homepage {
 min-width: 50%;
  height: 500px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  margin: 0 7.5px 15px;
  


  .background-image {
    width: 350px;
    height: 350px;
    background-size: cover;
    background-position: center;
  }
    
    .content-text {
    text-align: center;
    width: 50%
}

}


